body{width:640px; margin:0 auto;}
ul,li,p,h1,h2,h3,figure{margin:0; padding:0;}


.login_wrap{
  background: url("./../imgs/bg.png");
  background-repeat: no-repeat;
  height: 100vh;
  .login_con1_wrap{
    height: 100%;
    position: relative;
    .con1{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .con1_txt{
      position: absolute;
      bottom: 20px;
      left: 0;
    }
  }
}