
.modal_page {
    z-index: 10;
    width: 640px;
    height: 100vh;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    .modal_p {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        position: relative;
        .modal {
            background-image: url("/img/detail/modal.png");
            background-repeat: no-repeat;
            text-shadow: 2px 1px 0 #1f93ff;
            margin: 0 20px;
            position: absolute;
            top:20%;
            width: 600px;
            height: 500px;
            div {
                h3 {
                    padding: 40px 0;
                    font-size: 22px;
                    text-align: center;
                }
                p {
                    width: 500px;
                    margin: 0 auto;
                    line-height: 36px;
                }
            }
            span {
                position: absolute;
                bottom: 26px;
                width: 200px;
                margin: 0 200px;
                padding: 16px 0;
                font-size: 18px;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}
