
@font-face { font-family: 'neodgm_code'; src: url('../public/assets/font/neodgm_code.woff2') format('woff2'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'Noto Sans KR';font-style: normal;
    font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
    
    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
    
    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
    
    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
    
    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
    
    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}



// 기본폰트 디지몬 font-family: 'neodgm_code';
// 노토산스 font-family: 'Noto Sans KR', sans-serif;
body{margin:0; padding:0; height: 100vh; color: #fff; background-color: #000; font-family: 'neodgm_code'; overflow: auto;}
p,h1,ul,li,figure,h2,h3 {margin:0;padding:0; font-family: 'neodgm_code'; color:#fff}
span {color:#fff;}
ul {list-style: none;}
a {text-decoration: none;}
*{box-sizing: border-box;}

input::placeholder {color: #fff; font-family: 'neodgm_code'; }
// Footer 
.footer {
    max-width: 640px; width: 100%;
    position: fixed;
    bottom:0; left:0; right:0; margin:0 auto;
    border-top:1px solid #00F3FF;
    background: #000D1B;
    z-index: 99;
    div {
        padding:20px;
        figure{
            display: flex;
            justify-content: space-around;
            align-items: center;
            img {width: 100%; height: 100%; object-fit: cover; }
        }
    }
}

.Lodding {
    margin: 0; padding:0;
    max-width: 640px;
    width: 100%; height: 100vh;
    padding:20px; margin: 0px auto;
    display: flex;
    justify-content: center; align-items: center;
    flex-direction: column;
    position: relative;
    .bg_video{
        max-width: 640px;
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    div {
        position: absolute; top:0; left:0;
        display: flex;
        justify-content: center; align-items: center;
        flex-direction: column;
        width: 100%; height: 100vh;
        h1 {
            color:#fff
        }
        img {
            width: 50%;
            object-fit: cover;
        }
    }
}