.list_page {
    font-family: "neodgm_code";
    width: 640px;
    color: white;
    background-color: black;
    position: relative;
    margin: 0 auto;
    .user_info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .info_box {
            width: 417px;
            height: 119px;
            background-image: url("../../../../public/img/detail/info_box.png");
            background-repeat: no-repeat;
            position: relative;
            .inner_box {
                width: 300px;
                height: 100px;
                padding: 24px 0 0;
                display: flex;
                align-items: center;
                justify-content: space-around;
                span {
                    width: 100px;
                    padding-top: 20px;
                    font-size: 22px;
                    text-align: center;
                    text-shadow: 2px 1px 0 #1f93ff;
                }
                > div {
                    width: 180px;
                    height: 60px;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        width: 24px;
                        margin: 4px 0;
                    }
                    p {
                        margin: 0;
                        font-size: 24px;
                        text-shadow: 2px 1px 0 #1f93ff;
                    }
                }
            }
            .user_profile {
                position: absolute;
                right: 30px;
                top: 20px;
                > p {
                    img {
                        width: 70px;
                        height: 70px;
                    }
                }
            }
        }
    }
    .digidex {
        .dex_box {
            position: relative;
            padding: 0 24px;
            p {
                padding: 20px 0;
                img {
                    width: 300px;
                    height: 70px;
                }
            }
            span {
                position: absolute;
                left: 100px;
                top: 42px;
                color: #00f3ff;
                text-shadow: 2px 1px 0 #1f93ff;
                font-size: 26px;
                letter-spacing: 2px;
            }
        }
        .search_area {
            form {
                display: flex;
                align-items: center;
                position: relative;
                margin-bottom: 36px;
                label {
                    margin: 0 auto;
                    input:focus {
                        outline: none;
                    }
                    &:nth-of-type(1) {
                        background-image: url("/img/detail/search_box.png");
                        background-repeat: no-repeat;
                        background-position: cover;
                        background-size: 580px 100px;
                        width: 600px;
                        height: 90px;
                        input {
                            font-family: "Noto Sans KR";
                            color: #ffffff;
                            width: 400px;
                            height: 50px;
                            font-size: 18px;
                            margin: 14px 0 0 40px;
                            transform: translateY(14px);
                        }
                    }
                    &:nth-of-type(2) {
                        position: absolute;
                        right: 60px;
                        bottom: 6px;
                        background-image: url("/img/detail/search_btn.png");
                        background-repeat: no-repeat;
                        background-position: cover;
                        background-size: 115px 55px;
                        width: 115px;
                        height: 60px;
                        input {
                            width: 115px;
                            height: 55px;
                            color: #092b4f;
                            font-size: 18px;
                            font-family: "neodgm_code";
                            text-shadow: 2px 1px 0 #1f93ff;
                        }
                    }
                    input {
                        border: none;
                        background: none;
                    }
                }
            }
        }
    }
    .data_list {
        .btn {
            p {
                width: 190px;
                height: 50px;
                img {
                    width: fit-content;
                }
            }
        }
        .digi_list {
            background-image: url("/img/detail/list_bg.png");
            background-repeat: no-repeat;
            ul {
                display: flex;
                flex-wrap: wrap;
                .Evolution_list {
                    padding: 16px 0;
                    .Evolution_data {
                        width: 140px;
                        margin: 0 26px;
                        .picture {
                            position: relative;
                            width: 136px;
                            height: 168px;
                            img {
                                opacity: 70%;
                            }
                            .digimon {
                                position: absolute;
                                left: 24px;
                                top: 32px;
                                .digi_picture {
                                    width: 95px;
                                    height: 105px;
                                    border: 2px solid #00f3ff;
                                }
                                p {
                                    position: absolute;
                                    left: -16px;
                                    top: -20px;
                                    .mask {
                                        z-index: 5;
                                    }
                                }
                            }
                        }
                        .digi_name {
                            position: relative;
                            transform: translateX(-10px);
                            img {
                                width: 150px;
                            }
                            span {
                                position: absolute;
                                text-align: center;
                                width: 120px;
                                left: 24px;
                                top: 28px;
                                font-size: 18px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                word-wrap: break-all;
                                word-break: keep-all;
                                text-shadow: 2px 1px 0 #1f93ff;
                            }
                        }
                    }
                }
            }
        }
    }
}
