.rank_wrap{
  width: 100%;
  max-width: 640px;
  background-color: #000;
  margin: 0 auto;
  .bg{
    background: url(/img/main/bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: 640px;
    margin: 0 auto;
    background-size:100% 100%;
    object-fit: cover;
    padding-bottom: 150px;
    .logo_nick{
      padding-top: 50px;
      display: flex;
      max-width: 95%;
      margin: 0 auto 40px;
      justify-content: space-between;
      .logo{
        font-size: 0;
      }
      .logo_nick_wrap{
        position: relative;
        background: url("/img/main/nick_wrap.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 72%;
        .nick_txt{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          font-family: 'neodgm_code';
          .nick_wrap{
            display: flex;
            align-items: flex-end;
            span{
              font-size: 24px;
              margin-right: 15px;
            }
          }
          span{
            color:#fff;
            text-shadow: 2px 2px 0px #1F93FF;
            font-size: 22px;
            margin-right: 20px;
            margin-top: 15px;
          }
          figure{
            font-size: 0;
            margin-top:0px;
          }
        }
      }
    }
    .best_wrap{
      max-width: 95%;
      margin: 0 auto 40px;
      >figure{
        font-size: 0;
        margin-bottom: 30px;
      }
      .best{
        >ul{
          display: flex;
          justify-content:center;
          li{
            display: flex;
            flex-direction: column;
            align-items: center;
            &:nth-of-type(2){
              >p{
                font-size: 24px;
              }
            }
            >p{
              text-align: center;
              font-size: 22px;
              color:#00F3FF;
              text-shadow: 2px 2px 0px #1F93FF;
              margin-bottom: 10px;
            }
            .best_bg2{
              background: url("/img/rank/best_bg2.png");
              background-repeat: no-repeat;
              background-size: contain;
              width: 208px;
              height: 166px;
              display: flex;
              justify-content: center;
              figure{
                font-size: 0;
                img{
                  width: 102px;
                }
              }
            }
            .best_bg1{
              background: url("/img/rank/best_bg1.png");
              background-repeat: no-repeat;
              background-size: contain;
              width: 254px;
              height: 198px;
              display: flex;
              justify-content: center;
              >figure{
                font-size: 0;
                img {
                  animation: bounce 2s infinite linear;
                }
                @keyframes bounce {
                  0% { transform: translateY(0) }
                  50% { transform: translateY(10%)  }
                  100% { transform: translateY(0)  }
                }
              }
            }
            .best_bg3{
              background: url("/img/rank/best_bg3.png");
              background-repeat: no-repeat;
              background-size: contain;
              width: 209px;
              height: 166px;
              display: flex;
              justify-content: center;
              figure{
                font-size: 0;
                img{
                  width: 102px;
                }
              }
            }
            .best_txt1{
              background: url("/img/rank/text_box1.png");
              background-repeat: no-repeat;
              background-size: 90%;
              width: 217px;
              height: 62px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-position: center;
              >figure{
                font-size: 0;
                margin-right: 5px;
                img{
                  width: 25px;
                }
              }
              >p{
                font-size: 20px;
                text-shadow: 2px 2px 0px #1F93FF;
              }
            }
            .best_txt2{
              background: url("/img/rank/text_box2.png");
              background-repeat: no-repeat;
              background-size:90%;
              background-position: center;
              width: 180px;
              height: 52px;
              display: flex;
              align-items: center;
              justify-content: center;
              >figure{
                font-size: 0;
                margin-right: 5px;
                img{
                  width: 20px;
                }
              }
              >p{
                font-size: 18px;
                text-shadow: 2px 2px 0px #1F93FF;
              }
            }
          }
        }
      }
    }
    .list_wrap{
      background: url("/img/rank/list_wrap.png");
      background-repeat: no-repeat;
      width: 574px;
      height: 549px;
      margin:0 auto;
      padding: 35px 0;
      ul{
        overflow: scroll;
        overflow-x: hidden;
        width:94%;
        height: 500px;
        margin: 0 auto;
        &::-webkit-scrollbar{
          width: 10px;
          background-color: transparent;
          border: 1px solid #00f3ff;
        } 
        &::-webkit-scrollbar-thumb {
          background-color: #00f3ff;
          background-clip: padding-box;
          border: 3px solid transparent;
        }  
        li{
          background: url("/img/rank/list.png");
          background-repeat: no-repeat;
          width: 496px;
          height: 110px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          padding: 0px 30px;
          justify-content: space-between;
          p{
            font-size: 22px;
            text-shadow: 2px 2px 0px #1F93FF;
          }
          >p{
            color:#00F3FF;
            margin-right: 20px;
          }
          .list_name{
            display: flex;
            align-items: center;
            margin-right: 130px;
            >figure{
              font-size: 0;
              margin-right: 5px;
              img{
                width: 22px;
              }
            }
          }
          >figure{
            font-size: 0;
            img{
              width: 54px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:639px){
  .rank_wrap{
    width: 100%;
    .bg{
      .logo_nick{
        .logo{
          img{
            width: 90%;
          }
        }
        .logo_nick_wrap{
          width: 300px;
          .nick_txt{
            width: 90%;
            .nick_wrap{
              span{
                font-size: 16px;
                margin-right: 10px;
                margin-right: 0;
              }
            }
            span{
              font-size: 14px;
              margin-top: 10px;
              margin-right: 0;
            }
            figure{
              width: 20%;
              img{
                width: 100%;
              }
            }
          }
        }
      }
      .best_wrap{
        margin: 0px auto 50px;
        >figure{
          width: 55%;
          margin-bottom: 20px;
          img{
            width: 100%;
          }
        }
        .best{
          overflow: hidden;
          >ul{
            width: 100%;
            li{
              width: 33%;
              &:nth-of-type(2){
                >p{
                  font-size: 20px;
                }
              }
              >p{
                font-size: 18px;
                margin-bottom: 5px;
              }
              .best_bg2{
                background-size: 55%;
                background-position: center;
                align-items: center;
                height: auto;
                transform: translateY(20px);
                figure{
                  transform: translateY(-20px);
                  img{
                    width:70px;
                  }
                }
              }
              .best_bg1{
                background-size: 55%;
                background-position: center;
                height: auto;
                transform: translateY(30px);
                >figure{
                  transform: translateY(-30px);
                  img{
                    width:110px;
                  }
                }
              }
              .best_bg3{
                background-size: 55%;
                background-position: center;
                align-items: center;
                height: auto;
                transform: translateY(20px);
                figure{
                  transform: translateY(-20px);
                  img{
                    width:70px;
                  }
                }
              }
              .best_txt1{
                background-size: 60%;
                transform: translateY(10px);
                >figure{
                  display: none;
                }
                >p{
                  font-size: 15px;
                }
              }
              .best_txt2{
                background-size:60%;
                transform: translateY(15px);
                >figure{
                  display: none;
                }
                >p{
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
      .list_wrap{
        max-width: 95%;
        background-size:100% 100%;
        width: 100%;
        height: 100%;
        ul{
          height:300px; 
          li{
            width: 100%;
            height: 25%;
            padding: 0px 15px;
            background-size: 100% 100%;
            margin-bottom: 10px;
            &:last-child{
              margin-bottom: 0px;
            }
            p{
              font-size: 15px;
            }
            >p{
              margin-right: 20px;
            }
            .list_name{
              margin-right: 60px;
              >figure{
                img{
                  width: 15px;
                }
              }
            }
            >figure{
              img{
                width:35px;
              }
            }
          }
        }
      }
    }
  }
}