// board_view scss

@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');


@mixin flex($x: space-between, $y: center) {
  display: flex;
  justify-content: $x;
  align-items: $y;
  text-align: center;
  @content;
}


.board_view {
  width: 100%;

  background-image: url('/img/board/write/bg_board.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0, 40);

  padding-bottom: 185px;

  header {
    padding: 5%;

    @include flex(space-around, ) {align-items: flex-start;};

    .logo {
      width: 112px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .profile {
      width: 418px;
      position: relative;

      .pfDecoBox {
        position: absolute;
        top: 0;
        left: 0;
      }

      .pfInner {
        position: relative;

        @include flex(space-between, ) {
          align-items: flex-start;
        }

        ;
        margin-top: 50px;

        p {
          color: #FFF;
          text-shadow: 2px 1px 0px #1F93FF;
          font-family: NeoDunggeunmo;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 36px;
          letter-spacing: 2.2px;
          margin-left: 30px;

          span {}
        }

        .pfNickname {
          position: absolute;
          top: -25%;
          left: 35%;
          @include flex();

          figcaption {
            color: #FFF;
            text-shadow: 2px 1px 0px #1F93FF;
            font-family: NeoDunggeunmo;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
          }
        }

        .pfPictureWrap {
          width: 65px;
          height: 65px;
          position: absolute;
          top: -80%;
          right: 6.5%;

          .pfPicture {
            width: 100%;
            position: relative;
            margin-right: 30px;

            .pfPic {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .title {
    padding: 0 5%;
    width: 100%;
    margin: 0 auto;
    @include flex();

    .titleTab {
      position: relative;
      width: 60%;
      height: 100%;

      .titleDeco {
        width: 100%;
      }

      h1 {
        position: absolute;
        top: 37%;
        left: 15%;

        color: #00F3FF;
        text-align: center;
        text-shadow: 2px 1px 0px #005188;

        font-family: NeoDunggeunmo;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.56px;
        text-transform: uppercase;
      }
    }
  }

  .drawing {
    padding: 0 5%;
    width: 100%;
    position: relative;

    .canvasWrapper {
      width: 100%;
      position: relative;

      .canvasDeco {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
      }

      .canvas {
        margin: 0 auto;
        display: block;
        transform: translate(0%, 13%);
        object-fit: cover;
      }
    }
  }

  .hintTab {
    padding: 0 5%;
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;

    .hintDeco {
      width: 100%;
      margin: 135px auto 0 auto;
      @include flex() {flex-direction: column};
      .hint {
        width: 100%;
        text-align: right;
        transform: translate(0, 50%);

        color: #00F3FF;
        text-shadow: 2px 1px 0px #005188;
        font-family: NeoDunggeunmo;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 1.32px;
      }
      img {width: 100%;}
    }

    .answerBg {
      width: 100%;
      height: 111px;
      margin: 0 auto;
      background-image: url('/img/board/write/searchBg.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      @include flex();

      .wrapAnswer {
        width: 90%;
        margin: 0 auto;
        padding: 5% auto;
        @include flex();

        .answerInput {
          width: 300px;
          padding: 0 20px;
          background-color: transparent;
          border: none;
          outline: none;

          color: #FFF;
          font-family: Noto Sans KR;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          &::placeholder {
            color: #B5B5B5;
            font-family: Noto Sans KR;
          }
        }
        .inputBtn {cursor: pointer;}
      }

      .correct {
        width: 90%;
        margin: 0 auto;
        padding: 5% auto;
        @include flex(space-evenly, center);

        color: #FFF;
        text-shadow: 2px 1px 0px #1F93FF;
        font-family: NeoDunggeunmo;
        font-size: 22px;

        b {font-weight: 400;}

        .winner {
          @include flex();
          img {width: 22px; }
        }

        span {
          color: #00F3FF;
          text-shadow: 2px 1px 0px #005188;
        }
      }
    }
  }

  .wrongAnswers {
    @include flex(space-between, center) {flex-direction: column};

    .wrapText {
      width: 20%;
      @include flex();
      transform: translate(158%, 45%);

      b {
        word-break: keep-all;
        color: #00F3FF;
        text-shadow: 2px 1px 0px #005188;
        font-family: NeoDunggeunmo;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 1.32px;
      }
      p{
        width: 22px; height: 22px;
        img { 
          margin-left: 5px;
          width: 22px;
        }
      }
    }

    .wrongAnsBox {
      width: 588px;
      height: 170px;
      background-image: url('/img/board/view/wrongAnsDeco.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      object-fit: contain;

      .boxInner {
        width: 95%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: left;

        .comment {
          width: 100%;
          padding: 1% 0;
          @include flex(flex-start, center);

          span {
            color: #FFF;
            text-shadow: 2px 1px 0px #1F93FF;
            font-family: NeoDunggeunmo;
            font-size: 22px;
            font-weight: 400;
          }
        }
      }
    }

    .bigbox {
      width: 588px;
      height: 400px;
      background-image: url('/img/board/view/wrongAnsDecoBig.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      object-fit: contain;

      .bigboxInner {
        overflow-y: scroll;
        width: 95%;
        height: 250px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: left;

        .comment {
          width: 100%;
          padding: 1% 0;
          @include flex(flex-start, center);

          span {
            color: #FFF;
            text-shadow: 2px 1px 0px #1F93FF;
            font-family: NeoDunggeunmo;
            font-size: 22px;
            font-weight: 400;
          }
        }
      }

      ::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
        border: 1px solid #00F3FF;
      }

      ::-webkit-scrollbar-thumb {
        width: 4px;
        height: 62px;
        background-color: #00F3FF;
        background-clip: padding-box;
        border: 3px solid transparent;
      }
    }
  }

  .Oanswer {
    z-index: 5;
    width: 640px;
    height: 100vh;
    margin: 0 auto;    
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);

    @include flex(center, center) {flex-direction: column};

    .modalBg {transform: translate(0%, 25%);}

    .modalInner {
      transform: translate(0%, -75%);
      @include flex(center, center) {flex-direction: column};
      position: relative;
      
      .rkName {
        .iconNick {
          @include flex(center, center);
          margin-bottom: 10px;
          img { width: 24px; height: 27px; }

          figcaption {
            color: #FFF;
            text-shadow: 2px 1px 0px #1F93FF;
            font-family: NeoDunggeunmo;
            font-size: 24px;
            font-weight: 400;
          }
        }

        p {
          color: #00F3FF;
          text-shadow: 2px 1px 0px #1F93FF;
          font-family: NeoDunggeunmo;
          font-size: 34px;
          font-style: normal;
          font-weight: 400;
          line-height: 36px;
        }
      }

      .youGotDM {
        .eachDigimon {
          width: 100%;

          @include flex(center, center) {
            flex-direction: column
          }

          ;
          position: relative;
          padding: 3% 0;
          cursor: pointer;

          .cageWhole {
            position: relative;

            .cage {
              width: 200px;
            }

            .mon {
              position: absolute;
              top: 12%;
              left: 0;
              right: 0;
              margin: 0 auto;
              width: 86px;
              height: 100px;
              background-color: #FFF;
              border: 2px solid #00F3FF;
              display: flex;
              justify-content: center;
              align-items: center;
              object-fit: contain;
            }
          }

          .nameWhole {
            position: absolute;
            bottom: 25%;

            .nameWrap {
              position: relative;

              .namePlate {
                width: 144px;
              }

              .nameInner {
                width: 136.8px;
                position: absolute;
                top: 22%;
                left: -3%;

                @include flex(space-around, center) {}

                ;

                .smallFace {
                  width: 23.8px;
                  height: 23.8px;
                  transform: translate(45%, -10%);
                }

                .textwrap {
                  width: 90%;

                  @include flex(normal, normal) {
                    flex-direction: column
                  }

                  ;

                  .iconNameLine {
                    @include flex(center, center) {}

                    ;
                    text-align: left;

                    .name {
                      font-size: 16px;
                      word-break: keep-all;
                      text-shadow: 2px 1px 0px #1F93FF;

                    }

                    img {
                      width: 16px;
                    }
                  }

                  .fromWho {
                    text-align: right;
                    font-size: 14px;
                    word-break: keep-all;
                    padding: 10px 0 0 0;
                  }
                }
              }
            }
          }
        }
        .answerPlate{
          transform: translate(0,-50%);
          .plateBg{width: 250px;}
          .answerName{
            transform: translate(0,-215%);
            color: #F00;
            text-align: center;
            text-shadow: 2px 1px 0px #005188;
            font-family: NeoDunggeunmo;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.6px;
            text-transform: uppercase;
          }
        }
      }

      .fire{
        width: 100%;
        position: absolute; top: -10%; left: -45%;
      }
    }
  }

  .Xanswer {
    z-index: 5;
    width: 640px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);

    @include flex(center, center) {flex-direction: column};

    .modalBg {}

    .askRetry {
      transform: translate(0%, -150%);

      .askText {
        color: #F00;
        text-align: center;
        text-shadow: 2px 1px 0px #005188;
        font-family: NeoDunggeunmo;
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 3.2px;
      }

      .yesOrNo {
        cursor: pointer;
        img {padding: 0 10px;}
      }
    }

  }
}

//~~~~~~~~~~~~~~~~~~~반응형~~~~~~~~~~~~
@media (min-width:640px) {
  .board_view {
    width: 640px;
    margin: 0 auto;
  }
}

@media (min-width:401px) and (max-width:600px) {
  .board_view {
    .profile {
      width: 80%;

      .pfDecoBox {
        width: 100%;
      }

      .pfInner {
        width: 100%;
        margin-top: 13% !important;

        p {
          font-size: 16px !important;

          transform: translate(-10%, -20%);
        }

        .pfNickname {
          img {
            width: 20px;
          }

          figcaption {
            font-size: 18px !important;
          }
        }
      }
    }

    .title {
      .titleTab {
        .titleDeco {
          width: 90%;
        }

        h1 {
          font-size: 15px;
          left: 18%;
        }
      }

      .selectTab {
        .selectDeco {
          width: 90%;
        }

        h2 {
          font-size: 16px;
          right: 23%;
        }
      }
    }

    .drawing {
      width: 100%;

      .canvasWrapper {
        width: 100%;

        .canvasDeco {
          width: 100%;
        }

        canvas {}
      }

      .selectedWrap {
        .SDigimonName {
          .SNameSlot {
            transform: translate(-50%, -10%);
            font-size: 18px;
          }
        }
      }
    }

    .hintTab {
      margin-top: 30%;
      .hintDeco {
        width: 90%;
        margin: -50px auto 0 auto;
        .hint{font-size: 18px;}
        img {width: 100%;}
      }

      .answerBg {
        width: 84%;
        height: 67px;

        .wrapAnswer {
          width: 90%;
          margin: 0 auto;
          padding: 5% auto;

          .answerInput {
            width: 200px;
            font-size: 13px;
          }

          .inputBtn {
            transform: translate(13%, 8%);
            img {
              width: 100%;
              padding: 5px;
            }
          }
        }
        .correct {
          font-size: 13px;
        }
      }
    }

    .wrongAnswers {
      .wrapText {
        transform: translate(143%, 76%);
        b {font-size: 14px;}
        p{ 
          width: 14px; height: 14px;
          img{width: 14px;}
        }
      }
  
      .wrongAnsBox {
        width: 85%;
        .boxInner {
          .comment {
            span {
              font-size: 16px;
            }
          }
        }
      }
  
      .bigbox {
        width: 85%;
        height: 340px;
  
        .bigboxInner {
          height: 200px;
  
          .comment {
            span {
              font-size: 16px;
            }
          }
        }
      }
    }
    
    .Oanswer {
      width: 100%;
      .modalBg {width: 100%;}
  
      .modalInner {
        transform: translate(0%, -66%);
        .rkName {
          .iconNick {
            margin-bottom: 0px;
            figcaption {
              font-size: 16px;
            }
          }
          p {font-size: 24px;}
        }
  
        .youGotDM {
          .eachDigimon {
            .cageWhole {
              .cage { width: 180px;}
  
              .mon {
                width: 77.4px;
                height: 90px;
              }
            }
  
            .nameWhole {
              .nameWrap {
                .namePlate {width: 129.6px;}
                .nameInner {
                  width: 123.12px;
                  .smallFace {
                    width: 21.42px;
                    height: 21.42px;
                  }
                  .textwrap {
                    .iconNameLine {
                      .name {font-size: 14px;}
                      img {width: 14px;}
                    }
                    .fromWho {
                      font-size: 12px;
                      padding: 5px 0 0 0;
                    }
                  }
                }
              }
            }
          }
          .answerPlate{
            .plateBg{width: 225px;}
            .answerName{
              transform: translate(0,-225%);
              font-size: 20px;
            }
          }
        }
  
        .fire{
          top: 7.5%; left: -10%;
          img{width: 125%;}
        }
      }
    }
  
    .Xanswer {
      width: 100%;
      .modalBg {width: 100%;}
      .askRetry {
        transform: translate(0%, -160%);
  
        .askText {font-size: 24px;}
  
        .yesOrNo {
          img {width: 37.5%;}
        }
      }
    }
  }
}

@media (min-width:320px) and (max-width:400px) {
  .board_view {
    .profile {
      width: 80%;

      .pfDecoBox {
        width: 100%;
      }

      .pfInner {
        width: 100%;
        margin-top: 13% !important;

        p {
          font-size: 16px !important;
          transform: translate(-30%, -20%);
        }

        .pfNickname {
          transform: translate(-9%, -10%);

          img {
            width: 20px !important;
          }

          figcaption {
            font-size: 16px !important;
          }
        }

        .pfPictureWrap {
          .pfPicture {
            .pfPic {
              left: 20% !important;
              width: 80% !important;
            }
          }
        }
      }
    }

    .title {
      .titleTab {
        .titleDeco {
          width: 90%;
        }

        h1 {
          font-size: 12px;
          left: 16%;
        }
      }

      .selectTab {
        .selectDeco {
          width: 90%;
        }

        h2 {
          font-size: 13px;
          right: 23%;
        }
      }
    }

    .drawing {
      width: 100%;

      .canvasWrapper {
        width: 100%;

        .canvasDeco {
          width: 100%;
        }

        canvas {}
      }

      .selectedWrap {
        .SDigimonName {
          .SNameSlot {
            transform: translate(-50%, -10%);
            font-size: 18px;
          }
        }
      }
    }

    .hintTab {
      margin-top: 30%;
      .hintDeco {
        width: 90%;
        margin: -50px auto 0 auto;
        .hint{font-size: 14px;}
        img {width: 100%;}
      }

      .answerBg {
        width: 84%;
        height: 67px;

        .wrapAnswer {
          width: 90%;
          margin: 0 auto;
          padding: 5% auto;

          .answerInput {
            width: 200px;
            font-size: 13px;
          }

          .inputBtn {
            transform: translate(-30%, 8%);
            img {
              width: 64px;
            }
          }
        }
        .correct {
          font-size: 13px;
        }
      }
    }

    .wrongAnswers {
      .wrapText {
        transform: translate(143%, 76%);
        b {font-size: 12px;}
        p{ 
          width: 12px; height: 12px;
          img{width: 12px;}
        }
      }
  
      .wrongAnsBox {
        width: 85%;
        .boxInner {
          .comment {
            span {
              font-size: 16px;
            }
          }
        }
      }
  
      .bigbox {
        width: 85%;
        height: 340px;
  
        .bigboxInner {
          height: 200px;
  
          .comment {
            span {
              font-size: 16px;
            }
          }
        }
      }
    }
    
    .Oanswer {
      width: 100%;
      .modalBg {width: 100%;}
  
      .modalInner {
        transform: translate(0%, -60%);
        .rkName {
          .iconNick {
            margin-bottom: 0px;
            figcaption {
              font-size: 16px;
            }
          }
          p {font-size: 24px; line-height: unset;}
        }
  
        .youGotDM {
          transform: translate(0, -10px);
          .eachDigimon {
            .cageWhole {
              .cage { width: 180px;}
  
              .mon {
                width: 77.4px;
                height: 90px;
              }
            }
  
            .nameWhole {
              .nameWrap {
                .namePlate {width: 129.6px;}
                .nameInner {
                  width: 123.12px;
                  .smallFace {
                    width: 21.42px;
                    height: 21.42px;
                  }
                  .textwrap {
                    .iconNameLine {
                      .name {font-size: 14px;}
                      img {width: 14px;}
                    }
                    .fromWho {
                      font-size: 12px;
                      padding: 5px 0 0 0;
                    }
                  }
                }
              }
            }
          }
          .answerPlate{
            transform: translate(0, -75%);
            .plateBg{width: 225px;}
            .answerName{
              transform: translate(0,-225%);
              font-size: 20px;
            }
          }
        }
  
        .fire{
          top: 7.5%; left: -10%;
          img{width: 125%;}
        }
      }
    }
  
    .Xanswer {
      width: 100%;
      .modalBg {width: 100%;}
      .askRetry {
        transform: translate(0%, -160%);
  
        .askText {font-size: 24px;}
  
        .yesOrNo {
          img {width: 37.5%;}
        }
      }
    }
  }
}